.kcFormCardClass {
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 1rem !important;
  background: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(80px);
}

.kcFormCardClass {
  border-top: none !important;
  box-shadow: none !important;
}

#kc-page-title {
  border-top: none;
  border-bottom: none;
}

#kc-content {
  transform: translateY(-10%);
}

.kcButtonClass {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px !important;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.kcButtonClass:hover {
  background-color: #0056b3;
}

/* Inputs OTP */
.p-inputotp input.custom-otp-input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 0.3rem;

  background: transparent !important; /* fondo transparente */
  color: white !important; /* texto blanco */
  caret-color: white !important; /* cursor blanco */
}

.kcInputWrapperClass {
  display: flex;
  justify-content: left;
  align-items: center;
}

.kcInputWrapperClass label {
  display: block;
}

.kcInputClassRadioInput {
  margin-top: 0rem;
  margin-right: 0.25rem;
}

.pf-c-radio__input {
  margin-top: 0rem;
}

.kcInputClassRadio {
  margin-top: 0rem;
  margin-right: 0.5rem;
}

.kcInputClassRadio input {
  margin-top: 0rem;
}

.kcInputClassRadioLabel {
  font-size: 0.75rem;
  margin-right: 1.5rem;
}

/*kcInputWrapperClass modificar CSS para kcInputClassRadio pf-c-radio*/

.kcInputClass {
  margin-bottom: 0.5rem;
}

.kcFormPasswordVisibilityButtonClass {
  margin-bottom: 0.5rem;
}

.kcLabelClass {
  font-weight: bold;
}

.kcInputErrorMessageClass {
  font-weight: normal !important;
}

.docs-modal-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important;
  background-color: white !important;
  border-radius: 0.75rem !important;
  width: 600px !important;
  height: 600px !important;
  overflow: hidden !important;
}

.docs-modal-bar {
  background-color: #004876 !important;
  width: 100% !important;
  flex-shrink: 0 !important;
  display: block !important;
}

.docs-modal-bar-top,
.docs-modal-bar-bottom {
  height: 12.5% !important;
}

.docs-modal-content {
  margin: 1.5rem 2rem !important;
  padding: 1.25rem !important;
  background-color: white !important;
  border-radius: 0.5rem !important;
  border: 1px solid #d1d5db !important;
  flex: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.docs-modal-paragraph {
  font-size: 0.875rem !important;
  color: #374151 !important;
  margin: 0 !important;
}

.docs-modal-button {
  width: 50% !important;
  background-color: #007bff !important;
  color: white !important;
  padding: 0.75rem 1rem !important;
  border-radius: 5rem !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  transition: background-color 0.2s ease-in-out !important;
  margin-bottom: 1rem !important;
  border: none !important;
}

.docs-modal-button:hover {
  background-color: #0056b3 !important;
  cursor: pointer;
}

.docs-modal-bar-top {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.docs-modal-bar-top h4 {
  color: white !important;
  margin: 0 !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
}

.modal-overlay {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-32%, -60%) !important;
  width: 150vw !important;
  height: 150vh !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 9999 !important;
}

.icon-style {
  display: block;
}

.background-svg {
  width: 52%;
  height: 100vh;
  overflow: hidden;
}

.background-svg-svg {
  display: block;
  width: 100%;
  height: 100%;
}

.kcHtmlClass {
  height: 100vh;
  overflow-y: auto;
}
